@import "../assets/styles/variables";
@import "../assets/styles/mixins";
@import "../assets/styles/font-settings";

@media screen and (max-width: 1270px) {

  .second-content-block {
    padding-top: 0;
  }

  .content-container {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
  }

  .mobile-hidden {
    display: none;
  }

  .content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .content-item {
    margin-right: 0;
    padding-bottom: 100px;
  }

  .text-size-22-white {
    padding-top: 0;
  }

  .macbook-image {
    margin-bottom: 100px;
  }

  .test-text-2 {
    display: none;
  }

  .text-size-16-white {
    width: 330px;
  }

  .partners-block {
    width: auto;
  }

  .first-partners-section {
    flex-direction: column;
  }

  .second-partners-section {
    display: none;
  }

  .pricing-block {
    width: auto;
    flex-direction: column;
  }

  .contact-us-block {
    height: 100%;
    padding-top: 50px;
  }

  .about-us-form-block {
    width: auto;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .about-us-data {
    margin: 50px 0;
    order: 1;
  }

  .about-us-form {
    order: 2;
    padding: 15px 15px;
  }

  .link-block {
    width: 250px;
    justify-content: center;
  }


}