@import "../assets/styles/variables";
@import "../assets/styles/mixins";

@media screen and (max-width: 1270px) {

  .first-background-image {
    @include image-block(absolute, 100%, 2);
    @include image-settings(100%, 690px);
  }

  .second-background-img {
    @include image-block(absolute, 100%, 1);
    @include image-settings(100%, 810px);
  }

  .nav-block {
    height: 120px;
  }

  .nav-section {
    margin-right: 15px;
  }

  .logo-img {
    margin-left: 20px;
  }

  .mobile-menu-img {
    display: block;
    @include image-settings(40px, 40px);
  }

  ul {
    display: none;
  }

  .nav-input {
    display: none;
  }

  .subscribe-button {
    display: none;
  }

  .browser-image-desktop {
    display: none;
  }

  .browser-image-phone {
    display: block;
    @include image-block(relative, 390px, 2);
    margin-top: 40px;
  }

  .header-content-block {
    justify-content: center;
  }

  .header-content {
    top: 185px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-size-55-white {
      display: none;
    }

    .header-text-phone {
      display: block;
      @include text-settings('Roboto', 46px, 400, $white, 0.2px, 57px);
      text-align: center;
    }

    .text-size-16-white {
      width: 100%;
      margin-top: 25px;
      @include text-settings('Roboto', 16px, 700, $white, 0.2px, 20px);
      text-align: center;
    }

    .try-for-free-button-header {
      margin-top: 40px;
    }

  }

}